.notifications-list-container {
  .mark-all-read {
    font-size: 12px;
    padding: 5px;
  }
  .unread-check {
    label {
      font-size: 12px !important;
    }
  }
  .time-text {
    font-size: 12px !important;
  }
  .notification-message {
    width: 75% !important;
    font-size: 12px !important;
  }
  .notification-show-more {
    font-size: 12px !important;
    font-weight: 600 !important;
    cursor: pointer !important;
  }
  .notification-menu {
    padding: 0;
    box-shadow: none !important;
    outline: none !important;
    border: none;
    background-color: #E4E0E1 !important;
    height: 14px;
    &:hover,
    &:focus,
    &:active {
      box-shadow: none !important;
      transform: none !important;
      background-color: #E4E0E1 !important;
    }
  }

  .notification-menu-content {
    width: 70px !important;
    .dropdown-item {
      padding: 10px !important;
    }
  }

  .notification-detail-card {
    .notification-detail-type {
      font-size: 12px !important;
      margin-bottom: 2px;
    }

    .notification-detail-subtype {
      font-size: 12px !important;
      margin-bottom: 2px;
    }

    .notification-detail-link-title{
      font-size: 12px !important;
      margin-bottom: 2px;
    }

    .notification-detail-link {
      font-size: 12px !important;
      margin-bottom: 2px;
      text-decoration: underline;
      margin-left: 5px;
    }
  }
}

.notification-toast {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F4D793;
  margin: 0 !important;
  padding: 0 !important;

  .notification-toast-head {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .notification-toast-title {
    font-size: 14px;
    font-weight: 700;
  }

  .notification-toast-btn {
    box-shadow: none !important;
    outline: none !important;
    border: none;
    background-color: #F4D793;
    padding: 0 !important;

    &:hover,
    &:focus,
    &:active {
      box-shadow: none !important;
      transform: none !important;
      background-color: #F4D793;
    }
  }

  .notification-toast-message {
    font-size: 12px;
  }
}
