.overwrite-modal .modal-content {
    border-radius: 1rem;
    overflow: hidden;
}

.overwrite-header {
    background-color: #000; /* black header */
    border-bottom: none;
}

.overwrite-title {
    color: #fff;
    font-size: 1.25rem;
    font-weight: 600;
}

.modal-header .btn-close {
    filter: invert(1);
    opacity: 1;
    font-size: 1.25rem;
}

.overwrite-body {
    color: #999;
    padding-top: 1.5rem;
}

.overwrite-message {
    font-size: 16px;
    margin-bottom: 1.5rem;
    color: #8C8B8B;
}

.overwrite-list {
    text-align: left;
    color: #333;
    font-size: 0.95rem;
    padding-left: 1.2rem;
    margin: 0 auto;
    display: inline-block;
    text-align: left;
    list-style-position: inside;
    font-weight: 500;
}

.overwrite-footer {
    justify-content: center;
    gap: 1rem;
    padding-bottom: 1.5rem;
}

.overwrite-cancel {
    background-color: #e0e0e0;
    color: #333;
    border: none;
    padding: 0.5rem 1.5rem;
    border-radius: 0.75rem;
}

.overwrite-confirm {
    background-color: #f44336;
    border: none;
    padding: 0.5rem 1.5rem;
    border-radius: 0.75rem;
}

.overwrite-image {
    width: 161px;
    height: 136px;
    object-fit: contain;
    border: 1px solid #D9D9D9;
    border-radius: 12px;
    padding: 8px;
    background-color: #fff;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.05);
  }