.game-lobby {
  .category-section {
    margin-bottom: 2rem;
  }

  .category-header {
    padding: 10px;
    border-radius: 10px;
    color: #eaedf2;
    border: 0.0625rem solid #4c5680;
    background: #eeeeee !important;

    .swiper-controls {
      display: flex;
      gap: 0.5rem;

      button {
        width: 32px;
        height: 32px;
        padding: 0;
        font-size: 1.25rem;
      }
    }
  }

  .game-card {
    // width: 200px;
    width: 100%;
    // height: 200px;
    background: #f8f9fa;
    border-radius: 8px;
    overflow: hidden;
    user-select: text !important;
    border: 0.0625rem solid #4c56805e;
    text-align: center;
    padding: 1rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

    .game-image-wrapper {
      height: 120px;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        max-height: 100%;
        max-width: 100%;
        object-fit: contain;
      }
    }

    .game-info {
      margin-top: 0.5rem;

      .discount-badge {
        background: #fdb72e;
        color: black;
        padding: 2px 6px;
        font-size: 0.75rem;
        border-radius: 4px;
        display: inline-block;
        margin-top: 4px;
        position: relative;
      }

      .nodiscount-badge {
        background: #c4b8b9;
        color: black;
        padding: 2px 6px;
        font-size: 0.75rem;
        border-radius: 4px;
        display: inline-block;
        margin-top: 4px;
      }

      .game-name {
        user-select: text !important;
      }

    }
  }

  .game-name {
    white-space: nowrap;
    overflow: hidden;
    max-width: 190px;
    text-overflow: ellipsis;
  }

  .nogame-card {
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
  }
}

.swiper-wrapper {
  padding: 10px 0;
  -webkit-user-select: auto !important;
  -moz-user-select: auto !important;
  -ms-user-select: auto !important;
  user-select: auto !important;
}

.lobby-select {
  z-index: 9 !important;
}

.searched-game-wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;

  & .game-card {
    width: 170px;
  }
}

.game-info,
.game-info * {
  user-select: text !important;
}