.vip-card {
	padding: 21px 20px;
	border-radius: 8px;
	box-shadow: 0px 4px 4px 0px #00000040;
	display: flex;
	gap: 30px;
	margin-bottom: 1rem;
	flex-direction: row;
	align-items: center;
	// justify-content: space-between;
	p {
	  font-size: 12.96px;
	  font-weight: 500;
	  margin-bottom: 0.5px;
	}
	h5 {
	  font-size: 18px;
	  margin-bottom: 0px;
	  font-weight: 700;
	}
	.revenue-text{
		color: #1471ab;
	}
	.card-text {
	  position: relative;
	  &::before {
		position: absolute;
		content: "";
		left: -18px;
		height: 50px;
		width: 1px;
		background: #b3b3b3;
	  }
	}
  }
  
  .light-pink {
	background: #ffecfb;
  }
  .light-blue {
	background: #e5fcff;
  }
  .light-green {
	background: #e0ffde;
  }
  .light-yellow {
	background: #fff4e7;
  }
  .light-purple {
	background: #e6e6ff;
  }
  .light-red {
	background: #ffd9d9;
  }
  .cyan{
	background:#d9fff0;
  }
  
 .top-game{
	
	padding: 4px;
	margin-left: 1px;
	color:  #000000;
	margin-top: 2px;
	width: 100%;
	
 }
 .game-container{
	width: 25rem;
 }

 .least-game-container, 
 .top-game-container{
	margin-top: 1rem;
	// padding: 4px;
	width: 100%;

	border: 1px solid  #e9e9e9;
	border-radius: 10px;
	// background: #FFD9D9;
	box-shadow: 0px 4px 4px 0px #00000040;
	.card-text {
		// position: relative;
		// &::before {
		//   position: absolute;
		//   content: "";
		//   top: 30px;
		//   width: 100%;
		//   margin: 0;
		//   padding: 0;
		//   height: 1px;
		//   background: #b3b3b3;
		// }

		padding: 8px;
		border-bottom: 1px solid #000;
		&:last-child {
		  border-bottom: none;

	  }
	}
 }

 .least-game-container{
	background: #ffd9d9;
 }
 .top-game-container{
	background: #e0ffde;
 }


 .table th{
	border: 1px solid #ffffff;
 }