/* Container for the chart and labels */
.customer-chart-container {
  display: flex;
  justify-content: center;
  border: 1px solid #cac6c6;
  box-shadow: 0px 4px 4px 0px #00000040;
  border-radius: 15px;
  margin: 5px 0px;
  padding: 10px;
  /* Align items to the left */
  .card-ticker {
    display: flex;
    align-items: center;
  }
}

.customer-chart {
  flex: 2;
  padding: 10px;
  border-right: 1px solid #cac6c6;
}

.customer-labels {
  display: flex;
  flex-direction: column;
  align-self: center;
  row-gap: 10px;
  padding: 10px;
}

.dashboard-boxes-container {
  border-radius: 5px;
  padding: 10px 20px;
  // flex: 2;
  display: flex;
  flex-wrap: nowrap;
  row-gap: 15px;
  // min-width: 1000px;
  overflow-x: auto;
  column-gap: 10px;
  max-width: 100%;
  justify-content: space-between;
  // min-height: 300px;
  @media screen and (max-width: 768px) {
    padding: 10px;
  }
}
.dashboard-box {
  // border: 1px solid #cac6c6;
  padding: 10px;
  position: relative;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  gap: 10px;
  flex: 1;
  // flex: 1 0 30%; /* Adjust the width as needed */
  max-width: 210px;
  min-width: 203px;
  // margin: 1%; /* Adjust the margin as needed */
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  margin: 0;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.00938em;
  @media screen and (max-width: 768px) {
    max-width: 100%;
    flex: inherit;
  }

  label {
    color: #000;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
  }
  .value-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  .live-report-data {
    color: #000;
    font-weight: 700;
    font-size: 20px;
  }
  .new-icon {
    // background: #fff;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    // margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .new-icon-image {
    text-align: center;
  }
}
.sc-stack {
  background: #e0ffde;
}
.sc-win {
  background: #e5fcff;
}

.scr-sc {
  background: #ffecfd;
}

.usc-balance {
  background: #fff4e7;
}
.rsc-balance {
  background: #e6e6ff;
}
.ggrsc-balance {
  background: #ffd9d9;
  cursor: pointer;
  &:hover {
    span {
      opacity: 1;
      transform: translate(-50%, 0);
    }
  }
  span {
    position: absolute;
    left: 50%;
    bottom: 100%;
    opacity: 0;
    margin-bottom: 1em;
    padding: 1em;
    background-color: #fff;
    font-size: 0.6em;
    border: 1px solid #ffd9d9;
    min-width: 250px;
    min-height: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    line-height: 1.6;
    border-radius: 6px;
    font-size: 1rem;
    font-weight: 600;
    text-align: left;
    white-space: nowrap;
    transform: translate(-50%, 1em);
    transition: all 0.15s ease-in-out;
    &::before {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      width: 0;
      height: 0;
      border: 1em solid transparent;
      border-top-color: #ffd9d9;
      transform: translate(-50%, 0);
    }
  }
}
.sc-jackpot {
  background: #f9ffd9;
}
.login-pie-chart-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  height: 300px;
}

.ticker-container {
  // height: 200px;
  width: 100%;
  max-width: 234px;
  min-width: 170px;
  padding: 10px 25px;
  flex: 1;
  display: flex;
  justify-content: center;
  box-shadow: 0px 3.3px 3.3px 0px #70707040;
  border-radius: 8px;
  color: white;
  @media screen and (max-width: 768px) {
    max-width: 47%;
    min-width: 135px;
    flex: inherit;
    padding: 10px;
  }
  @media screen and (max-width: 420px) {
    min-width: 125px;
  }
  @media screen and (max-width: 390px) {
    min-width: 125px;
    max-width: 100%;
  }
  .green-c {
    color: green;
  }
  &.online {
    background: linear-gradient(
      116.31deg,
      rgba(179, 185, 255, 0.6) 14.58%,
      rgba(125, 148, 253, 0.6) 62.42%
    );
  }
  &.active {
    background: linear-gradient(
      116.31deg,
      rgba(174, 242, 175, 0.6) 14.58%,
      rgba(97, 207, 93, 0.6) 62.42%
    );
  }
  &.total-wallet {
    background: linear-gradient(
      116.31deg,
      rgba(255, 202, 145, 0.8) 14.58%,
      rgba(243, 172, 129, 0.8) 62.42%
    );
  }
  &.total-vault {
    background: linear-gradient(
      116.31deg,
      rgba(252, 150, 243, 0.8) 14.58%,
      rgba(255, 115, 231, 0.8) 62.42%
    );
  }
  &.overall {
    background: linear-gradient(
      116.31deg,
      rgba(150, 174, 255, 0.8) 14.58%,
      rgba(97, 132, 242, 0.8) 62.42%
    );
  }
  &.today {
    background: linear-gradient(
      116.31deg,
      rgba(255, 156, 198, 0.8) 14.58%,
      rgba(247, 101, 163, 0.8) 62.42%
    );
  }
  &.new-icon-image {
    text-align: center;
  }
}

.ticker-wrapper {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
  @media screen and (max-width: 768px) {
    gap: 8px;
    padding: 10px 0 0 0 !important;
  }
}

.ticker-today-loginC {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: start;
  gap: 10px;
  justify-content: center;

  h5 {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 20px;
  }
}
.ticker-label {
  display: flex;
  width: 100%;
  gap: 20px;
  align-items: center;
  @media screen and (max-width: 768px) {
    gap: 8px;
    label {
      font-size: 14px;
    }
  }
  // justify-content: space-between;
}
.ticket-todayC {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 3px;

  p {
    font-size: 16px;
    font-weight: 700;
    margin: 0px;
    @media screen and (max-width: 1199px) {
      font-size: 17px;
    }
    @media screen and (max-width: 768px) {
      font-size: 14px;
    }
  }
}
